.mainContainer{
    background: url('/assets/img/EvaFruitsLogoBG.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    background-position-y: bottom;
    overflow: hidden;
    
}
.Jar{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.KiwiPai img{
    position: relative;
    max-width: 450px;
    width: 100%;
    margin-top: -80px;
}
.KiwiPai .btn{
    background: #6B5F82;
    color: #fff;
}
.KiwiPai h4{
    color: #6B5F82;
}
.EvaFruits{
    color: #6B5F82;
}
.bigJar{
    position: relative;
    display: flex;
    justify-content: end !important;
    background: rgb(2,0,36);
    background: radial-gradient(circle, #E4E0D6 0%, rgba(255,255,255,1) 60%);
    z-index: -1;
}

.images{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
}
.bigKiwiPai{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    
}
.Jar .Painable {
    max-width: 90px;
    height: 90px;
    width: 100%;
}
.Jar .Kiwi {
    margin-top: 100px;
    max-width: 90px;
    height: 90px;
    width: 100%;
}
.Jar .Banana{
    max-width: 90px;
    height: 90px;
    width: 100%;
}
.Jar .bigJar{
    max-width: 450px;
    width: 100%;
}
.bigKiwi{
    max-width: 130px;
    width: 100%;
    height:fit-content;
    z-index: -1;
}
.bigPainable{
    max-width: 110px;
    width: 100%;
    height:fit-content;
    z-index: -1;
}


@media (max-width: 1399px) {
   
    .Jar .Painable {
        max-width: 70px;
        height: 70px;
        width: 100%;
    }
    .Jar .Kiwi {
        margin-top: 50px;
        max-width: 70px;
        height: 70px;
        width: 100%;
    }
    .Jar .Banana{
        max-width: 70px;
        height: 70px;
        width: 100%;
    }
    .Jar .bigJar{
        max-width: 300px;
        width: 100%;
    }
    .bigKiwi{
        max-width: 100px;
        width: 100%;
        height:fit-content;
        z-index: -1;
    }
    .bigPainable{
        max-width: 90px;
        width: 100%;
        height:fit-content;
        z-index: -1;
    }
}
@media (max-width: 1199px) {
   
    .Jar .Painable {
        max-width: 65px;
        height: 65px;
        width: 100%;
    }
    .Jar .Kiwi {
        margin-top: 50px;
        max-width: 65px;
        height: 65px;
        width: 100%;
    }
    .Jar .Banana{
        max-width: 65px;
        height: 65px;
        width: 100%;
    }
    .Jar .bigJar{
        max-width: 300px;
        width: 100%;
    }
}


@media screen and (min-width: 340px) and (max-width: 991px) {
    .mainContainer{
        background-position-y: 300px !important;
    }
    .Jar .Painable {
        max-width: 100px !important;
        height: 100px !important;
        width: 100% !important;
    }
    .Jar .Kiwi {
        margin-top: 50px;
        max-width: 100px;
        height: 100px;
        width: 100%;
    }
    .Jar .Banana{
        max-width: 100px;
        height: 100px;
        width: 100%;
    }
    .Jar .bigJar{
        max-width: 400px;
        width: 100%;
    }
}
/* SECTION TOW */
.AboutUS{
    margin-top: 200px;
}
.containerBox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.box{
    background: url('/assets/img/PurpleBG.png');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    color: #E4E0D6;
}
.box .BananaBG{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: -90px;
}
.logoImage{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.logoImage img{
    max-width: 200px;
    width: 100%;
}
.box .BananaKiwiBG{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: -90px;
}

/*  */
.OrderNow{
    margin-top: 200px;
}
.orderNow{
    background: url('/assets/img/BG.png');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;

}