<section class="mainSection">
<div class="container mainContainer">
    <div class="row">
        <div class="col-lg-6 KiwiPai">
            <img src="assets/img/KiwiPai.png" alt="" srcset="">
            <h4 class="pt-5">EvaFruits unforgettable Health in Every Bite!. Snack Smart, Snack EvaFruits!</h4>
            <p class="mt-3">Indulge in the extraordinary goodness of <b class="EvaFruits">EvaFruits</b>, where each bite is a symphony of flavors that will linger in your memory. Our carefully crafted blend of nature's finest, handpicked fruits ensures an unforgettable snacking experience.</p>
            <button class="btn mt-4">Order Now</button>
        </div>
        <div class="col-lg-6  pt-5 Jar">
            <div class="row fruitsImages">
                <div class="col-lg-3 col-md-1 col-sm-2 images">
                    <img class="Painable animatePainable" src="assets/img/Painable.png" alt="" srcset="">
                    <img class="Kiwi animateKiwi" src="assets/img/Kiwi.png" alt="" srcset="">
                    <img class="Banana animateBanana" src="assets/img/Banana.png" alt="">
                </div>
                <div class="col-lg-6 col-md-8 col-sm-8 jarBig">
                    <img class="bigJar" src="assets/img/jar.png" alt="" srcset="">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2 bigKiwiPai">
                    <img class="bigKiwi" src="assets/img/KiwiBG.png" alt="" srcset="">
                     <img class="bigPainable" src="assets/img/Painable.png" alt="" srcset="">
                </div>
            </div>
            
        
            
        </div>
    </div>
</div>
</section>
<section class="AboutUS">
    <div class="container containerBox">
        <div class="row box">
            <div class="col-lg-8">
                <div class="BananaBG">
                <img src="assets/img/BananaBG.png" alt="" srcset="">
                </div>
                <h4>About us</h4>
                <p>At EvaFruits, we're passionate about creating healthy snacks that celebrate the goodness of nature. Our mission is simple, to deliver irresistible flavors that nourish your body, making wellness an enjoyable journey with every bite.</p>
            </div>
            <div class="col-lg-4 logoImage">
                <img src="assets/img/EvaFruitsLogo2.png" alt="" srcset="">
                <div class="BananaKiwiBG">
                    <img src="assets/img/BananaKiwi.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="OrderNow">
    <div class="container orderNow">
        <div class="row pt-5 pb-5">
            <div class="col-lg-2 col-md-0 col-sm-0"></div>
            <div class="col-lg-6 col-md-8 col-sm-8">
                <h4>EvaFruits means choosing a snack that embodies our values of health, taste, and vitality.</h4>
                <div class="row pt-5 orderSpecific">
                    <div class="col-lg-4 col-md-4 col-sm-4"><img src="assets/img/check.png" alt="" srcset=""><span> Zero Added Sugar</span></div>
                    <div class="col-lg-4 col-md-4 col-sm-4"><img src="assets/img/check.png" alt="" srcset=""><span> Balanced Flavor</span></div>
                    <div class="col-lg-4 col-md-4 col-sm-4"><img src="assets/img/check.png" alt="" srcset=""><span> Naturally Sweet</span></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 orderNowBtn">
                <button class="btn">Order Now</button>
            </div>
        </div>
    </div>
</section>
<section class="evaLogoKiwi">
    <div class="container">
        <div class="row">
            <div class="col-3 ">
                <img class="PaiKiwiImage" src="assets/img/PaiKiwi.png" alt="" srcset="">
            </div>
            <div class="col-9">
                <img class="evaLogoKiwiBG" src="assets/img/EvaFruitsLogoBG.png" alt="" srcset="">
            </div>
        </div>
    </div>
</section>
<section class="ourProduct">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex pt-5 justify-content-center">
                <h1>Our Prodcut</h1>
            </div>
        </div>
        <div class="row">
            <div class="cards">
                <div class="cardd">
                  <div class="image">
                    <img src="assets/img/bigJar.png" alt="" />
                  </div>
                  <div class="content">
                    <h4>Fruits Jar</h4>
                    <p>Mixed Fruits</p>
                    <div class="icon">
                      <img src="assets/img/noSugarIcon.png" alt="" />
                      <span> No Sugar</span>
                    </div>
                    <div class="price">
                      <p>
                        <b>130</b>
                        SAR
                      </p>
                    </div>
                    <!-- <div class="action">
                      <div class="qty">
                        <span>+</span>
                        <input type="number" />
                        <span>-</span>
                      </div>
                      <button class="btn btnOrder">order now</button>
                    </div> -->
                  </div>
                </div>
                <div class="cardd">
                  <div class="image">
                    <img src="assets/img/mediumJar.png" alt="" />
                  </div>
                  <div class="content">
                    <h4>Fruits Bag</h4>
                    <p>Medium Mix Fruits</p>
                    <div class="icon">
                        <img src="assets/img/noSugarIcon.png" alt="" />
                      <span> No Sugar</span>
                    </div>
                    <div class="price">
                      <p>
                        <b>110</b>
                        SAR
                      </p>
                    </div>
                    <!-- <div class="action">
                      <div class="qty">
                        <span>+</span>
                        <input type="number" />
                        <span>-</span>
                      </div>
                      <button class="btn btnOrder">order now</button>
                    </div> -->
                  </div>
                </div>
                <div class="cardd">
                  <div class="imageSmallJar">
                    <img src="assets/img/smallJar.png" alt="" />
                  </div>
                  <div class="content">
                    <h4>Fruits Bag</h4>
                    <p>Small Fruits Bag</p>
                    <div class="icon">
                        <img src="assets/img/noSugarIcon.png" alt="" />
                      <span> No Sugar</span>
                    </div>
                    <div class="price">
                      <p>
                        <b>90</b>
                        SAR
                      </p>
                    </div>
                    <!-- <div class="action">
                      <div class="qty">
                        <span>+</span>
                        <input type="number" />
                        <span>-</span>
                      </div>
                      <button class="btn btnOrder">order now</button>
                    </div> -->
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>
<section class="ourFeatures">
    <div class="container">
        <div class="row Features">
            <div class="col-12 d-flex pt-5 justify-content-center">
                <h1>Features</h1>
            </div>
        </div>
        <div class="row decribFeatures">
            <div class="col-6 strawberryImage">
                <img src="assets/img/Strob.png" alt="" srcset="">
            </div>
            <div class="col-6  allDesc">
                <div class="row">
                    <div class="col-lg-12 descFeatures descFOne">
                        <div>
                            <img src="assets/img/iconOne.png" alt="" srcset="">
                        </div>
                        <div class="ps-2">
                            <p> EvaFruits lets the natural flavors of the fruits take center stage.</p>
                            <span>Offering a balanced, refreshing, and satisfying.</span>
                        </div>
                        
                    </div>
                    <div class="col-lg-12 descFeatures descFTwo">
                        <div >
                            <img src="assets/img/iconTwo.png" alt="" srcset="">
                        </div>
                        <div class="ps-2">
                            <p> EvaFruits align with a health-conscious lifestyle.</p>
                            <span>Offering a tasty, alternative to processed snacks</span>
                        </div>
                        
                    </div>
                    <div class="col-lg-12 descFeatures descFThree">
                        <div>
                            <img src="assets/img/iconThree.png" alt="" srcset="">
                        </div>
                        <div class="ps-2">
                            <p>EvaFruits boost your health with essential nutrients and antioxidants.</p>
                            <span>Offering a natural wellness boost</span>
                        </div>
                        
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
<section class="Orderform">
    <div class="container"></div>
</section>