.mainContainer{
    background: url('/assets/img/EvaFruitsLogoBG.png');
    height:auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    background-position-y: bottom;
    overflow: hidden;
    background-size: 100% auto;
}
.Jar{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.KiwiPai img{
    position: relative;
    max-width: 450px;
    width: 100%;
    margin-top: -80px;
}
.KiwiPai .btn{
    background: #6B5F82;
    color: #fff;
}
.KiwiPai h4{
    color: #6B5F82;
}
.EvaFruits{
    color: #6B5F82;
}
.bigJar{
    position: relative;
    display: flex;
    justify-content: end !important;
    background: rgb(2,0,36);
    background: radial-gradient(circle, #E4E0D6 0%, rgba(255,255,255,1) 60%);
    z-index: -1;
}

.images{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
}
.bigKiwiPai{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    
}
.Jar .Painable {
    max-width: 90px;
    height: 90px;
    width: 100%;
}
.Jar .Kiwi {
    margin-top: 100px;
    max-width: 90px;
    height: 90px;
    width: 100%;
}
.Jar .Banana{
    max-width: 90px;
    height: 90px;
    width: 100%;
}
.Jar .bigJar{
    max-width: 450px;
    width: 100%;
}
.bigKiwi{
    max-width: 130px;
    width: 100%;
    height:fit-content;
    z-index: -1;
}
.bigPainable{
    max-width: 110px;
    width: 100%;
    height:fit-content;
    z-index: -1;
}


@media (max-width: 1399px) {
   
    .Jar .Painable {
        max-width: 70px;
        height: 70px;
        width: 100%;
    }
    .Jar .Kiwi {
        margin-top: 50px;
        max-width: 70px;
        height: 70px;
        width: 100%;
    }
    .Jar .Banana{
        max-width: 70px;
        height: 70px;
        width: 100%;
    }
    .Jar .bigJar{
        max-width: 300px;
        width: 100%;
    }
    .bigKiwi{
        max-width: 100px;
        width: 100%;
        height:fit-content;
        z-index: -1;
    }
    .bigPainable{
        max-width: 90px;
        width: 100%;
        height:fit-content;
        z-index: -1;
    }
}
@media (max-width: 1199px) {
   
    .Jar .Painable {
        max-width: 65px;
        height: 65px;
        width: 100%;
    }
    .Jar .Kiwi {
        margin-top: 50px;
        max-width: 65px;
        height: 65px;
        width: 100%;
    }
    .Jar .Banana{
        max-width: 65px;
        height: 65px;
        width: 100%;
    }
    .Jar .bigJar{
        max-width: 300px;
        width: 100%;
    }
}


@media screen and (min-width: 340px) and (max-width: 991px) {
    .mainContainer{
        background-position-y: 450px !important;
        background-size: 100% auto;
    }
    .fruitsImages{
        margin-top: 50px;
    }
    .Jar .Painable {
        max-width: 60px ;
        height: 60px ;
        width: 100% ;
    }
    .Jar .Kiwi {
        margin-top: 50px;
        max-width: 60px;
        height: 60px;
        width: 100%;
    }
    .Jar .Banana{
        max-width: 60px;
        height: 60px;
        width: 100%;
    }
    .Jar .bigJar{
        max-width: 400px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .Jar .Painable {
        max-width: 70px;
        height: 70px;
        width: 100%;
    }
    .Jar .Kiwi {
        margin-top: 50px;
        max-width: 70px;
        height: 70px;
        width: 100%;
    }
    .Jar .Banana{
        max-width: 50px;
        height: 50px;
        width: 100%;
    }
    .Jar .bigJar{
        max-width: 300px;
        width: 100%;
    }
    .bigKiwi{
        max-width: 170px;
        width: 100%;
        height:fit-content;
        z-index: -1;
    }
    .bigPainable{
        max-width: 150px;
        width: 100%;
        height:fit-content;
        z-index: -1;
    }
}

@media (max-width: 575px) {
    .images {
        width: 70px;
     }
    
     .jarBig{
         width: 250px;
     }
   .bigKiwiPai{
     width: 70px;
   }
}
@media (max-width: 414px) {
   
    .images {
       width: 80px;
    }
    .images .Painable{
        display: none;
    }
    .jarBig{
        width: 250px;
    }
  .bigKiwiPai{
    width: 70px;
  }
  
}
@media (max-width: 399px) {
   
    .images {
       width: 80px;
    }
    .images .Painable{
        display: none;
    }
    .Jar .Kiwi {
        margin-top: 50px;
        max-width: 50px;
        height: 50px;
        width: 100%;
    }
    .Jar .Banana{
        max-width: 50px;
        height: 50px;
        width: 100%;
    }
    .jarBig{
        width: 200px;
    }
  .bigKiwiPai{
    width: 60px;
  }
  
}
@media (max-width: 339px) {
   
    .images {
       width: 80px;
    }
    .images .Painable{
        display: none;
    }
    .Jar .Kiwi {
        margin-top: 50px;
        max-width: 50px;
        height: 50px;
        width: 100%;
    }
    .Jar .Banana{
        max-width: 50px;
        height: 50px;
        width: 100%;
    }
    .jarBig{
        width: 200px;
    }
  .bigKiwiPai{
    width: 50px;
  }
  
}
.animatePainable{
    animation-name: painableAnimate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .3s;
}
.animateBanana{
    animation-name: imagesAnimatie;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .3s;
}
.animateKiwi{
    animation-name: kiwiAnimate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .3s;
}
@keyframes painableAnimate {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes kiwiAnimate {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes imagesAnimatie {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);

    }
    100%{
        transform: translateY(0px);
    }

    
}
/* SECTION TOW */
.AboutUS{
    margin-top: 200px;
}
.containerBox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.box{
    background: url('/assets/img/PurpleBG.png');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    color: #E4E0D6;
}
.box .BananaBG{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: -90px;
}
.logoImage{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.logoImage img{
    max-width: 200px;
    width: 100%;
}
.box .BananaKiwiBG{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: -90px;
}

/*  */
.OrderNow{
    margin-top: 200px;
}
.orderNow{
    background: url('/assets/img/BG.png');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.orderNow h4{
    color: #6B5F82;
}
.orderSpecific span{
    color: #6B5F82;
    font-size: 15px;
    font-weight:lighter;
}
.orderSpecific img{
    max-width: 15px;
    width: 100%;
}
.orderNowBtn{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.orderNowBtn .btn{
    background: #6B5F82;
    color: #fff;
}

/* evaLogo */
.evaLogoKiwi{
    margin-top: -75px;
    z-index: 1;
}
.evaLogoKiwi .PaiKiwiImage{
    width: 100%;
}
.evaLogoKiwi .evaLogoKiwiBG{
    width: 100%;
}


/* OUR PRODUCT SECTION */

.ourProduct h1{
    color: #6B5F82;
    font-weight: bold;
}