.mainContainer{
    background: url('/assets/img/EvaFruitsLogoBG.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    background-position-y: 200px;
    
}

.KiwiPai img{
    position: relative;
    max-width: 450px;
    width: 100%;
    margin-top: -80px;
}
.KiwiPai .btn{
    background: #6B5F82;
    color: #fff;
}
.KiwiPai h4{
    color: #6B5F82;
}
.EvaFruits{
    color: #6B5F82;
}
.bigJar{
    position: relative;
    display: flex;
    justify-content: end !important;
    background: rgb(2,0,36);
    background: radial-gradient(circle, #E4E0D6 0%, rgba(255,255,255,1) 45%);
    z-index: -1;
}
.Jar .Painable {
    max-width: 90px;
    height: 90px;
    width: 100%;
    margin-left: 100px;
}
.images{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.Jar .Kiwi {
    margin-top: 50px;
    max-width: 90px;
    height: 90px;
    width: 100%;
}
.Jar .Banana{
    max-width: 90px;
    height: 90px;
    width: 100%;
}
.Jar .bigJar{
    max-width: 450px;
    width: 100%;
}

/* SECTION TOW */
.AboutUS{
    margin-top: 200px;
}
.containerBox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.box{
    background: url('/assets/img/PurpleBG.png');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    color: #E4E0D6;
}
.box .BananaBG{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: -90px;
}
.logoImage{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.logoImage img{
    max-width: 200px;
    width: 100%;
}
.box .BananaKiwiBG{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: -90px;
}

/*  */
.OrderNow{
    margin-top: 200px;
}
.orderNow{
    background: url('/assets/img/BG.png');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;

}