<section class="mainSection">
<div class="container mainContainer">
    <div class="row">
        <div class="col-lg-6 KiwiPai">
            <img src="assets/img/KiwiPai.png" alt="" srcset="">
            <h4 class="pt-5">EvaFruits unforgettable Health in Every Bite!. Snack Smart, Snack EvaFruits!</h4>
            <p>Indulge in the extraordinary goodness of <b class="EvaFruits">EvaFruits</b>, where each bite is a symphony of flavors that will linger in your memory. Our carefully crafted blend of nature's finest, handpicked fruits ensures an unforgettable snacking experience.</p>
            <button class="btn">Order Now</button>
        </div>
        <div class="col-lg-6 d-flex justify-content-start pt-5 Jar">
            <div class="images">
            <img class="Painable" src="assets/img/Painable.png" alt="" srcset="">
            <img class="Kiwi" src="assets/img/Kiwi.png" alt="" srcset="">
            <img class="Banana" src="assets/img/Banana.png" alt="">
        </div>
            <img class="bigJar" src="assets/img/jar.png" alt="" srcset="">
        </div>
    </div>
</div>
</section>
<section class="AboutUS">
    <div class="container containerBox">
        <div class="row box">
            <div class="col-lg-8">
                <div class="BananaBG">
                <img src="assets/img/BananaBG.png" alt="" srcset="">
                </div>
                <h4>About us</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto optio obcaecati, sequi officia, quam itaque reiciendis, velit debitis ipsam veritatis voluptates! Asperiores reiciendis excepturi at perspiciatis maiores amet exercitationem!</p>
            </div>
            <div class="col-lg-4 logoImage">
                <img src="assets/img/EvaFruitsLogo2.png" alt="" srcset="">
                <div class="BananaKiwiBG">
                    <img src="assets/img/BananaKiwi.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class=""></section>